* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

.container {
  margin-inline: auto;
  padding-inline: 2rem;
}

img {
  display: block; //이미지의 기본설정?이 인라인임, 텍스트-이미지사이의갭없애기위해 이미지를 인라인->박스로 바꿈
}

@media (width < 37.5rem) {
  .container {
    padding-inline: 1rem;
  }
}

.wrapper {
  padding-block: 2rem;
}

#section1 {
  .wrapper {
    display: flex;
    gap: 1rem;
  }
}

.card {
  max-width: 300px; //최대크기를300으로
  border: 0.0625rem solid #ccc;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255);
  overflow: hidden; //넘치는것을가림
  &__img {
    width: 100%;
    aspect-ratio: 4 / 3; //이미지의비율지정
    object-fit: cover;
  }
  &__text {
    padding: 1rem;
    h3 {
      font-size: 1.25rem;
      line-height: 1.75rem; //행의 크기
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    p {
      $lineHeightVal: 1.5rem;
      $clampLine: 5;
      line-height: $lineHeightVal;
      ///여기부터
      overflow: hidden;
      text-overflow: ellipsis; //글자 넘어가면 ...<생김
      display: -moz-box;
      display: -webkit-box;
      -moz-box-orient: vertical;
      -webkit-box-orient: vertical;
      -moz-line-clamp: $clampLine; //행의 수
      -webkit-line-clamp: $clampLine; //행의 수
      max-height: $clampLine * $lineHeightVal; //행의 수 * 행의 크기(lineheight)
      ///여기까지
    }
  }
  &__buttons {
    padding: 1rem;
    display: flex;
    justify-content: end; //오른쪽정렬
    gap: 0.5rem;
  }
}

.button {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  line-height: 0.875rem;
  font-weight: bold;
  background-color: blue;
  color: rgba($color: #ffffff, $alpha: 0.87);
  border-radius: 62.4375rem;
  &--type {
    &--text {
      background-color: unset;
      color: blue;
      padding-inline: 0.5rem;
    }
  }
}
