* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  /* background-color: aquamarine; */
  max-width: 60rem;
  margin-inline: auto;
  padding-inline: 2rem;
  padding-block: 4rem;
}

.blank .container {
  min-height: 100dvh;
}
